[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

logo_file = nebula.jpg

# Path to python file. Can use relative path from here.
#!!!Make sure it matches whatever you rename ExampleBot.py to!!!
python_file = ./main.py

# Name of the bot in-game
name = NebulaHC

maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = octacore4f and f1uffycatsarecute
# Short description of the bot
description = NebulaHC raised from an exploding star and now dominates every Psyonix Rookie! I hope ._. (Made with GoslingUtils)

# Fun fact about the bot
fun_fact = HC stands for Hamburger Cucumber. Thats what Tricky said! ++

# Link to github repository
github = https://github.com/octacore4F-dev/NebulaHC

# Programming language
language = Python, GoslingUtils
